@media screen and (max-width:576px) {
    nav {
        text-align: center;
        margin-top: 35px;

    }

    nav ul {
        display: none;
    }

    /* navbar done */

    /* banner starts here  */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-content-h1 {
        font-size: 26px;
        text-align: center;
        margin-top: 10px;
    }

    .banner-content-p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        /* padding: 10px; */
        margin-bottom: 10px;
    }

    .btn {
        margin: auto;
    }

    .banner-image {
        width: 100%;
        margin: auto;

        background-size: contain;
        background-position: center;
    }

    .banner-image img {
        width: 80%;
    }

    .logo-h2 {
        text-align: center;
        font-size: 16px;
    }

    /* sponsor sec--  */
    .sponsor {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 10px;
    }

    .sponsor img {
        width: 100%;
    }

    /* popular collection section  */
    .popularcollection {
        margin-top: 10px;
    }

    .popularcollection-h1 {
        text-align: center;
        font-size: 1rem;
    }

    .box-h3 {
        color: var(--text-gray);
        font-size: 1.75rem;
    }

    /* featured-products  */
    .featured-products {
        flex-direction: column-reverse;
        margin-top: 50px;
        gap: 10px;
    }

    .featured-products-p {
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
    }

    .featured-products-h2 {
        font-size: 24px;
        text-align: center;
    }

    .featured-products-btn {
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 10px;
    }

    .featured-products-img-img {
        width: 100%;
        margin-top: 10px;
    }

}