* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3A3A3A;
    --second-color: #E02C6D;
    --text-gray: #18191F;
}

body {
    width: 80%;
    margin: auto;
    /* background-color: #E02C6D; */
}
header{
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-right: 34px;
    list-style: none;


}

.optional-cart {
    display: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1rem;
}
.banner{
    display: flex;
    align-items: center;
justify-content: space-between;
margin-top: 50px;
}
.banner-content-h1 {
    color: var(--primary-color);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-content-p{
    color: var(--primary-color);
    font-size: 16px;
font-style: normal;
font-weight: 600;
margin-bottom: 20px;
}
.btn{
    background-color: var(--second-color);
    border-radius: 41px;
    display: flex;
padding: 10px 24px;
align-items: center;
justify-content: center;
text-align: center;
gap: 8px;
border: 0px;
color: white;
}
.banner-image{
    background-image: url('images/Circledesign.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.sponsor{
    display: flex;
    margin-top: 69px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 30px;
    padding-bottom:30px ;

}
.popularcollection{
    margin-top: 80px;
}
.popularcollection-h1{
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 25px;
    font-size: 28px;
}
.review-icon{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.start-icon-clr{
    color: orange;
}
.box-h3{
    color: var(--text-gray);
    font-size: 1.75rem;
    font-weight: 700;
}
.box-p-big{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.box-p-sm{
    color: var(--gray-50, #787885);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
}
.box-img{
    width: 100%;
  
}
.box{
    padding: 10px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.all-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.seemore{
    display: flex;
    justify-content:right;
    align-items: center;
    text-align: right;
    margin-top: 50px;
}
.btn-seemore{
    color: var(--second-color);
    font-size: 16px;
    font-weight: 700;
    border: 0px ;
    background-color: white;
}
.featured-products{
    gap: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 100px;
}
.featured-products-btn{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--second-color);
    border: 0px ;
    margin-top: 10px;
}
.featured-products-p{
    margin-top: 10px;
 width: 60%;
    padding-right: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}
.featured-products-h2{
    color: #0A0826;
font-family: Poppins;
font-size: 38px;
font-weight: 700;
}