* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3A3A3A;
    --second-color: #E02C6D;
    --text-gray: #18191F;
}

body {
    width: 80%;
    margin: auto;
    /* background-color: #E02C6D; */
}
header{
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-right: 34px;
    list-style: none;


}

.optional-cart {
    display: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1rem;
}
.banner{
    display: flex;
    align-items: center;
justify-content: space-between;
margin-top: 50px;
}
.banner-content-h1 {
    color: var(--primary-color);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-content-p{
    color: var(--primary-color);
    font-size: 16px;
font-style: normal;
font-weight: 600;
margin-bottom: 20px;
}
.btn{
    background-color: var(--second-color);
    border-radius: 41px;
    display: flex;
padding: 10px 24px;
align-items: center;
justify-content: center;
text-align: center;
gap: 8px;
border: 0px;
color: white;
}
.banner-image{
    background-image: url('images/Circledesign.svg');
    background-repeat: no-repeat;
    background-size: contain;
}